@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* Rounded User Panel */
.panels-3wFtMD {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid var(--background-modifier-accent);
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

.theme-dark .container-YkUktl {
  background-color: transparent;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  margin-left: -10px;
}

/* Favorite Icon to Heart */
.favoriteIcon-2kWmTP>path {
  d: path("M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z");
  transform: scale(1.1) translate(-1.5px, -1px);
  transition: all 0.2s ease-in-out;
}

.wrapper-3kah-n.selected-1Drb7Z[aria-label*="Fav"] .favoriteIcon-2kWmTP path {
  fill: #F62B30;
}

.wrapper-3kah-n.selected-1Drb7Z[aria-label*="Fav"] .childWrapper-1j_1ub {
  background: var(--background-primary) !important;
}

.wrapper-3kah-n.selected-1Drb7Z[aria-label*="Fav"] .childWrapper-1j_1ub::after {
  background-color: #F62B30;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(10px);
  opacity: 0.4;
}

/* Item Pills */
:root {
  --container-rounding: 6px;
  --pill-default-height: 20px;
  --pill-unread-height: 4px;
  --pill-hover-height: 14px;
}

.theme-dark {
  --pill-default-background: hsl(201, 65%, 63%);
  --pill-unread-background: hsl(0, 0%, 100%);
  --pill-connected-background: hsl(139, 47%, 44%);
}

.theme-light {
  --pill-default-background: hsl(201, 65%, 63%);
  --pill-unread-background: hsl(0, 0%, 100%);
  --pill-connected-background: hsl(139, 47%, 44%);
}

.sidebar-1tnWFu .containerDefault-YUSmu3,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6 {
  overflow: hidden;
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG .content-1gYQeQ {
  padding-left: 0;
  border-radius: var(--container-rounding);
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG .content-1gYQeQ::before {
  content: "";
  position: relative;
  min-width: 4px;
  height: 0;
  margin-left: 5px;
  border-radius: 25px;
  transition: all 250ms ease;
  background-color: var(--pill-default-background);
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ:hover::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG .content-1gYQeQ:hover::before {
  height: var(--pill-hover-height);
  margin-right: 7px;
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ:active::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG .content-1gYQeQ:active::before {
  height: var(--pill-default-height);
  margin-right: 7px;
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ::before {
  height: var(--pill-default-height);
  margin-right: 7px;
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ {
  background-color: var(--background-modifier-active);
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ::before {
  height: var(--pill-default-height);
  margin-right: 7px;
  background-color: var(--pill-connected-background);
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .unreadRelevant-2f-VSK,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.modeUnread-3Cxepe .unreadRelevant-2f-VSK {
  display: none;
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .content-1gYQeQ::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.modeUnread-3Cxepe .content-1gYQeQ::before {
  height: var(--pill-unread-height);
  margin-right: 7px;
  background-color: var(--pill-unread-background);
}

.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .content-1gYQeQ:hover::before,
.sidebar-1tnWFu .containerDragBefore-1s5Qg6.modeUnread-3Cxepe .content-1gYQeQ:hover::before {
  background-color: var(--pill-unread-background);
}

.sidebar-1tnWFu .container-32HW5s {
  overflow: hidden;
}

.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I {
  border-radius: var(--container-rounding);
}

.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I::before {
  content: "";
  position: relative;
  min-width: 4px;
  height: 0;
  margin-left: 5px;
  border-radius: 25px;
  transition: all 250ms ease;
  background-color: var(--pill-default-background);
}

.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I:hover::before {
  height: var(--pill-hover-height);
  margin-right: 7px;
}

.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I:active::before,
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I.interactiveSelected-29CP8y::before {
  height: var(--pill-default-height);
  margin-right: 7px;
}

.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I .layout-1LjVue {
  padding-left: 1px;
}

#app-mount .embedFull-1HGV2S {
  border-left: 0;
  border-radius: var(--container-rounding);
  padding-left: 7px;
  background-color: var(--background-secondary);
}

#app-mount .embedFull-1HGV2S::before {
  position: absolute;
  content: "";
  top: 4px;
  bottom: 4px;
  left: 4px;
  border-left: 4px solid;
  border-color: inherit;
  border-radius: 15px;
}

#app-mount .wrapperAudio-1Bzv_Z {
  border: none;
  border-radius: var(--container-rounding);
  background-color: var(--background-secondary);
}

#app-mount .wrapper-1HIH0j {
  border-radius: var(--container-rounding);
  background-color: var(--background-secondary);
}

#app-mount .wrapper-1HIH0j .guildIconImage-74OdmM {
  background-color: var(--background-tertiary);
}

#app-mount .embedWrapper-1MtIDg {
  border-radius: var(--container-rounding);
}

#app-mount .embedWrapper-1MtIDg .textContainer-36wgKK {
  border: none;
}

#app-mount .embedWrapper-1MtIDg .footer-GXWBBp {
  border: none;
}

#app-mount .video-2HW4jD {
  border-radius: var(--container-rounding);
  -webkit-app-region: no-drag;
}

#app-mount .chat-2ZfjoI .message-2CShn3 {
  margin-left: 5px;
  border-radius: var(--container-rounding);
}

#app-mount .chat-2ZfjoI .message-2CShn3::before {
  top: 6px;
  bottom: 6px;
  left: 5px;
  width: 2px;
  border-radius: 6px;
}